.grid_1 {
  background-image: url("bilder/splash.svg");
  background-size: cover;

  padding-bottom: 31%;
}

.velkommst_text {
  padding-left: 7%;
  padding-top: 10%;
}

.velkommst_text h2 {
  font-size: 260%;
  letter-spacing: 2px;
  color: white;
}

.velkommst_text h3 {
  font-size: 120%;
  letter-spacing: 2px;
  color: white;
}

.grid_2 {
  margin-top: 10px;
  margin-inline: 7%;
  padding-bottom: 7px;
}

.grid_2 h2 {
  margin-bottom: 10px;
}

.grid_1_1_1 {
  display: grid;
}

.grid_2 h3 {
  margin-block: 2%;
}

.grid_2 p {
  margin-bottom: 60px;
}
.col-flex {
  display: flex;
  flex-flow: column;
  margin-bottom: 15px;
}
.grid_2 .col-flex :last-child {
  margin-top: auto;
}

.grid_3 {
  margin-inline: 7%;
  gap: 20px;
  display: grid;
  min-height: 100vh;
}

.grid_3 img {
  border-radius: 10px;
}

.grid_3 h3 {
  padding-top: 10px;
}

.grid_2_1 .col {
  order: 1;
}

.grid_3 .button {
  margin-top: 27%;
}

@media (min-width: 600px) {
  .grid_1_1_1 {
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }
}

@media (min-width: 750px) {
  .grid_3 .col {
    max-width: 65ch;
  }

  .grid_1_2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
  }

  .grid_2_1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
  }
}

@media (min-width: 900px) {
  .grid_1_1_1 {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 29px;
  }
}
